{{define "body"}}
{{ $display := "display:block" }}
{{ $addBtn := "Add"}}
{{ $label := "New Recipients"}}
{{if eq .User.Role.Slug "visitor"}}
    {{ $display = "display:none" }}
    {{ $addBtn = "Submit"}}
    {{ $label = "Please enter your information."}}
{{ end }}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <h1 class="page-header">
            Recipients
        </h1>
        <h6 ALIGN="center">Please give your eMail address to receive the results. Any other eMail address with no acknowledge of the recipient is not allowed by law. We explicitly prohibit the unauthorized use of third-party e-mail addresses.
            <br>And we do not use your eMail address for any advertising. You can use it twice a day. At the end of the day, it will be removed.</h6>
    </div>
    <div id="flashes" class="row"></div>
    <div class="row begin-countdown" id="countdown" style="display: none;">
        <div class="col-md-12 text-center">
          <progress value="10" max="10" id="pageBeginCountdown"></progress>
          <p> Redirecting in <span id="pageBeginCountdownText">5 </span> seconds</p>
        </div>
    </div>
    
    <div class="row">
            <button type="button" id="btnModal" class="btn btn-primary" onclick="edit(-1)" data-toggle="modal" data-backdrop="static"
            data-target="#modal">
            <i class="fa fa-plus"></i> New Recipient</button>
    </div>
    &nbsp;
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    <div style="">
        <div id="emptyMessage" class="row" style="display:none;">
            <div class="alert alert-info">
                No Recipients created yet. Let's create one!
            </div>
        </div>
        <div class="row">
            <table id="groupTable" class="table" style="display:none;">
                <thead>
                    <tr>
                        <th>Name</th>
                        {{if eq .User.Role.Slug "visitor"}}
                        {{else}}
                        <th># of Recipient</th>
                        {{end}}
                        <th>Modified Date</th>
                        {{if eq .User.Role.Slug "visitor"}}
                        {{else}}
                        <th class="col-md-2 no-sort"></th>
                        {{end}}
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{$label}}</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="modal.flashes"></div>
                <div style="{{$display}}">
                    <label class="control-label" for="name">Name:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="group.name" placeholder="Recipient" id="name"
                            autofocus />
                    </div>
                    <div class="form-group">
                        <span class="btn btn-danger btn-file" data-toggle="tooltip" data-placement="right"
                            title="Supports CSV files" id="fileUpload">
                            <i class="fa fa-plus"></i> Bulk Import Users
                            <input type="file" id="csvupload" multiple>
                        </span>
                        <span id="csv-template" class="text-muted small">
                            <i class="fa fa-file-excel-o"></i> Download CSV Template</span>
                    </div>
                </div>
                <div class="row">
                    <form id="targetForm">
                        <div class="col-sm-12">
                            First Name: <input type="text" class="form-control" placeholder="Please enter your First Name" id="firstName">
                        </div>
                        <div class="col-sm-12">
                            Last Name: <input type="text" class="form-control" placeholder="Please enter your Last Name" id="lastName">
                        </div>
                        <div class="col-sm-12">
                            Email Address: <label style="color:red">*</label><input type="email" class="form-control" placeholder="Please enter your Email Address" id="email" onchange="updateInput(this.value)" required>
                        </div>
                        <div class="col-sm-12">
                            Position: <input type="text" class="form-control" placeholder="Please enter your Position" id="position">
                        </div>
                        <div class="col-sm-12">
                            <br/><center><button type="submit" onclick="addBtn()" class="btn btn-danger btn-lg">
                                <i class="fa fa-plus"></i> {{$addBtn}}</button></center>
                        </div>
                    </form>
                </div>
                <br />
               
                <div style="{{$display}}">
                    <table id="targetsTable" class="table table-hover table-striped table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Last Name</th>
                                <th style="width:30% !important;">Email</th>
                                <th>Position</th>
                                <th class="no-sort"></th>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                
            </div>
            <div style="{{$display}}">
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="modalSubmit">Save changes</button>
                </div>
            </div>  
        </div>
    </div>
</div>
{{end}} {{define "scripts"}}
<script src="/js/dist/app/groups.min.js"></script>
<script src="/js/dist/app/cookies.min.js"></script>
{{if eq .User.Role.Slug "visitor"}}
<script type="text/javascript">
    window.onload = function(){
        if(getCookie("emailAddress") == ""){
            document.getElementById('btnModal').click();
        }
    };
    var censorStr = function (str) {
        return str[0] + "*".repeat(str.length - 2) + str.slice(-1);
    }
    function updateInput(email){
        var arr = email.split("@");
        document.getElementById("name").value = censorStr(arr[0]) + "@" + censorStr(arr[1]);
    }
   
    function addBtn(){
        if(getCookie("emailAddress") != ""){
            $('#modal').modal('hide');
            alert("You have already created an existing email address " + getCookie("emailAddress") + ". This is only allowed once per day.");
        }
        else{
            setTimeout(
                function(){ 
                    document.getElementById("modalSubmit").click();
                }, 1000
            );
        }
    }
</script>
{{end}}
{{end}}